body {
  background-color: #bbcbd2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #495f77;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(
    120deg,
    #bbcbd2 60%,
    rgb(158, 217, 251) 88%,
    rgb(108, 189, 255) 40%,
    rgba(26, 121, 255, 0.603) 48%
  );
  color: #495f77;
}

.flip-card-back {
  background: linear-gradient(
    120deg,
    rgb(53, 115, 148) 30%,
    #495f77 88%,
    #bbcbd2 40%,
    rgb(51, 107, 145) 78%
  );
  color: white;
  transform: rotateY(180deg);
}

.button-container {
  text-align: center;
  margin-top: 50px;
  align-items: center;
}

.bttn {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #495f77;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 20px;
}

.bttn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.bttn a:hover {
  text-decoration: underline;
}
